@import 'tailwindcss';

@layer utilities {
  .bg-brand-sidebar {
    background-color: #0f766e;
  }

  .bg-brand-body {
    background-color: #e5e7eb;
  }

  .bg-brand-orange {
    background-color: #f97316;
  }

  .text-brand-orange-hover {
    color: #ea580c;
  }

  .hover\:bg-brand-orange-hover:hover {
    background-color: #ea580c;
  }

  .text-brand-green {
    color: #0f766e;
  }

  .hover\:text-brand-green:hover {
    color: #0f766e;
  }

  .text-brand-orange {
    color: #f97316;
  }

  .hover\:text-brand-orange:hover {
    color: #f97316;
  }

  .ring-brand-green {
    --tw-ring-color: #0f766e;
  }

  .ring-brand-orange {
    --tw-ring-color: #f97316;
  }

  .ring-brand-green-50 {
    --tw-ring-color: rgb(15 118 110 / 0.5);
  }

  .ring-brand-orange-50 {
    --tw-ring-color: rgb(249 115 22 / 0.5);
  }

  .border-brand-green {
    border: 1px solid #0f766e;
  }

  .border-brand-orange {
    border: 1px solid #f97316;
  }

  .text-base {
    font-size: 1rem;
    font-weight: 400;
  }

  .text-header {
    font-size: 1.5rem;
    font-weight: 900;
    color: #0f766e;
  }
}